<%- include("partials/header") %>

<h1>Home Page</h1>
<ul>
    <li><a href="/discuss">Discuss Forum</a></li>
    <li><a href="#">Study Forum</a></li>
</ul>






<%- include("partials/footer") %>